body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height:100vh;
}
ul,li{
    margin:0;
    padding:0;
}
.sidebar{
    width: 21%;
    height:100%;
    background-color: #ffd700;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.goods-accounts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-dashboard ul{
    list-style-type: none;
    width: 100%;
    
}
.menu-dashboard li{
    width: 100%;
    text-align: start;
    padding:15px;
    margin:10px;
}
.goods-content{
    width:79%;
    max-height: 100vh;
    overflow-y: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.goods-title{
    width: 100%;
    padding:5px 50px;
    text-align: start;
    text-transform: uppercase;
}
.goods-actions{
    width: 100%;
    padding: 10px 75px 10px 75px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.order-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
}
.order-attributes,
.order-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap:20px;
    padding:10px 50px;
}
.order-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.order-attributes-item,
.order-item{
    border:1px solid #000;
    padding:15px;
}
.order-id{
    width:10%;
    max-width: 10%;
    text-align: center;
}
.customer-name{
    width: 30%;
    max-width:30% ;
    text-align: center;
}
.customer-address{
    width: 40%;
    max-width: 40%;
    text-align: center;
}
.order-status{
    width: 20%;
    max-width: 20%;
    text-align: center;
    padding:15px 0px;
}

.highlight {
    background-color: blue; /* Màu nền cho ký tự tìm kiếm */
    color: white; /* Màu chữ cho ký tự tìm kiếm */
}
