<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tài khoản</title>
    <link rel="stylesheet" href="../css/style/user/account.css">
    <link rel="stylesheet" href="../icons/style-icon.css">
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title" id="title">
            <img src="../assets/images/Male User.png" alt="avatar" srcset="">
            <h2>Xuân Mai</h2>
        </div>

        <div class="nav-button">
            <button id="monyeuthich">Món yêu thích</button>
            <button id="donhang">Đơn hàng</button>
        </div>

        <div id="setting-content" >
            <div  class="setting">
                <h4>Cài đặt tài khoản</h4>
    
                <div class="grid-container">
                    <div class="item">
                        <label for="">Tên</label>
                        <div class="input-group">
                            <input id="user-name" type="text" value="Xuân Mai" disabled>
                            <span id="edit-name" class="mage--pen-fill"></span>
                        </div>
                    </div>
    
                    <div class="item">
                        <label for="">Email</label>
                        <div class="input-group">
                            <input id="user-email" type="email" value="maine14022021@gmail.com" disabled>
                            <span id="edit-email" class="mage--pen-fill"></span>
                        </div>
                    </div>
    
                    
    
                    <div class="item">
                        <label for="">Số điện thoại</label>
                        <div class="input-group">
                            <input id="user-phone" type="text" value="0354542024" disabled>
                            <span id="edit-phone" class="mage--pen-fill"></span>
                        </div>
                    </div>
    
                    <div class="item">
                        <label for="">Tỉnh, thành phố</label>
                            <select name="" id="">
                                <option value="TP.HCM">TP.HCM</option>
                            </select>
                    </div>
    
                    <div class="item">
                        <label for="">Quận, huyện</label>
                        <select name="" id="">
                            <option value="Quận 7">Quận 7</option>
                        </select>
                    </div>
    
                    <div class="item">
                        <label for="">Địa chỉ chi tiết</label>
                        <input type="text" value="Hồ con rùa">
                    </div>
                </div>
    
                
            </div>
            <button class="btn-luu">Lưu</button>
        </div>
       
    </div>

    <!--Chi tiết đơn hàng-->

    <div id="chi-tiet-don-hang-container"  class="chi-tiet-don-hang-container">
        <!--Mỗi cục là 1 đơn hàng, trong 1 đơn hàng có nhiều sản phẩm-->
        <div class="donhang-content">
            <div class="sanpham">
                <div class="detail-sp">
                    <img src="../assets/images/ly.png" alt="hinh-anh-san-pham">
                    <p>Ly 390ml</p>
                    <p>Số lượng: 1</p>
                    <p>300.000</p>
                </div>

                <div class="detail-sp">
                    <img src="../assets/images/ly.png" alt="hinh-anh-san-pham">
                    <p>Ly 390ml</p>
                    <p>Số lượng: 1</p>
                    <p>300.000</p>
                </div>
            </div>
            <div class="thong-tin-don-hang">
                <p>Tổng tiền: 600.000</p>
                <p class="tinh-trang-don-hang">Đã hủy</p>
                <p>Thời gian đặt hàng: 6/3/2025</p>
                <p>Thời gian nhận hàng: 8/3/2025</p>
            </div>
        </div>

        <div class="donhang-content">
            <div class="sanpham">
                <div class="detail-sp">
                    <img src="../assets/images/ly.png" alt="hinh-anh-san-pham">
                    <p>Ly 390ml</p>
                    <p>Số lượng: 1</p>
                    <p>300.000</p>
                </div>
            </div>
            <div class="thong-tin-don-hang">
                <p>Tổng tiền: 300.000</p>
                <p class="tinh-trang-don-hang">Đã hủy</p>
                <p>Thời gian đặt hàng: 6/3/2025</p>
                <p>Thời gian nhận hàng: 8/3/2025</p>
            </div>
        </div>

        <div class="donhang-content">
            <div class="sanpham">
                <div class="detail-sp">
                    <img src="../assets/images/ly.png" alt="hinh-anh-san-pham">
                    <p>Ly 390ml</p>
                    <p>Số lượng: 1</p>
                    <p>300.000</p>
                </div>
            </div>
            <div class="thong-tin-don-hang">
                <p>Tổng tiền: 300.000</p>
                <p class="tinh-trang-don-hang">Đã hủy</p>
                <p>Thời gian đặt hàng: 6/3/2025</p>
                <p>Thời gian nhận hàng: 8/3/2025</p>
            </div>
            
        </div>

        <div class="donhang-content">
            <div class="sanpham">
                <div class="detail-sp">
                    <img src="../assets/images/ly.png" alt="hinh-anh-san-pham">
                    <p>Ly 390ml</p>
                    <p>Số lượng: 1</p>
                    <p>300.000</p>
                </div>
            </div>
            <div class="thong-tin-don-hang">
                <p>Tổng tiền: 300.000</p>
                <p class="tinh-trang-don-hang">Đã hủy</p>
                <p>Thời gian đặt hàng: 6/3/2025</p>
                <p>Thời gian nhận hàng: 8/3/2025</p>
            </div>
        </div>
    </div>
   
    
    


    <!--script-->
    <script src="../js/account.js">
        


    </script>
</body>
</html>